name: Terraform Plan (Production)

on:
  pull_request:
    paths:
      - "infra/**"
      - ".github/workflows/terraform-plan.yml"

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init (remote state)
        working-directory: infra/production
        run: |
          terraform init             -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}"             -backend-config="dynamodb_table=${{ secrets.TF_LOCK_TABLE }}"             -backend-config="key=production/terraform.tfstate"             -backend-config="region=${{ secrets.AWS_REGION }}"

      - name: Terraform Fmt
        working-directory: infra/production
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        working-directory: infra/production
        run: terraform validate

      - name: Terraform Plan
        working-directory: infra/production
        run: terraform plan -no-color

